

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #1b1b1b;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

select {
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

h2 {
  font-weight: 700;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #00ff88;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.2rem;
}

nav a:hover {
  color: #00ff88;
}

main {
  padding: 2rem;
  height: calc(100vh - 80px)
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 0.5rem;
}

.product-card p {
  margin: 0.5rem;
  color: #555;
}

.price {
  color: #00b85c;
  font-weight: bold;
  margin-left: 0.5rem;
}

button {
  background: #00b85c;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #009e50;
}

footer {
  background: #1b1b1b;
  color: #aaa;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
